body
  background-lighten = 10%
  background linear-gradient(90deg, lighten(#83a4d4, background-lighten) 0%, lighten(#b6fbff, background-lighten) 100%);
  font-family sans-serif

.main-panel
  background-color #fff
  margin 40px auto
  width 90%
